body {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #000;
	line-height: 24px;
	text-transform: uppercase;
}


/* Главная барбершопа */
.main-navigation a,
.login {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	line-height: 20px;
	text-transform: uppercase;
}

.features-name {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 30px;
	color: #f7f4f1;
	line-height: 42px;
	text-transform: uppercase;
}

.features-item {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #f7f4f1;
	line-height: 24px;
	text-transform: uppercase;
}

.index-content-title {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 30px;
	color: #000;
	line-height: 42px;
	text-transform: uppercase;
}

.btn,
.main-footer,
.footer-contacts a {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	line-height: 24px;
	text-transform: uppercase;
}

/* Товар барбершопа */

.main-header>h1,
 {
 	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 30px;
	color: #000;
	line-height: 42px;
	text-transform: uppercase;
}

.text-content-2>h2 {
 	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 24px;
	color: #000;
	line-height: 30px;
	text-transform: uppercase;
}

.breadcrumbs a {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #000;
	line-height: 24px;
	text-transform: uppercase;
}

.breadcrumbs span {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #aba9a7;
	line-height: 24px;
	text-transform: uppercase;
}

.article {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #aba9a7;
	line-height: 24px;
	text-transform: uppercase;
}

.item-description a {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #000;
	line-height: 24px;
	text-transform: uppercase;	
}

.buy {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	line-height: 24px;
	text-transform: uppercase;
}

/* Каталог барбершопа */

.container-2-header>h1 {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 30px;
	color: #000;
	line-height: 42px;
	text-transform: uppercase;
}

.container-2-header a {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #000;
	line-height: 20px;
	text-transform: uppercase;
}

.care {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #aba9a7;
	line-height: 20px;
	text-transform: uppercase;
}

.manufacturers>h2,
.product-group>h2 {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 24px;
	color: #000;
	line-height: 30px;
	text-transform: uppercase;
}

.form-1,
.form-2 {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #000;
	line-height: 18px;
	text-transform: uppercase;
}

.product-group-button {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 13px;
	color: #fff;
	line-height: 18px;
	text-transform: uppercase;
}

.container-2-footer a {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	line-height: 18px;
	text-transform: uppercase;
}

.price {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #000;
	line-height: 18px;
	text-transform: uppercase;
}

.product button {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	line-height: 18px;
	text-transform: uppercase;
}

.caption {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #000;
	line-height: 18px;
	text-transform: none;	
}

.caption-2 {
	font-family: "PT Sans Narrow", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #000;
	line-height: 18px;
	text-transform: uppercase;
}


/* Сетка главной барбершопа */

html,
body {
  min-width: 1122px;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 60px;
}

.main-navigation {
  float: left;
  width: 780px;
  min-height: 70px;
}

.user-block {
  float: right;
  width: 140px;
  min-height: 70px;
}

.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;
  min-height: 330px;
}

.main-footer-1 {
  height: 193px;
  background-color: #000;
  box-sizing: border-box;
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}



/* Сетка товара барбершопа */

/* Сетка хедера барбершопа */

.main-header {
	height: 72px;
	background-color: #000;
}

.main-navigation li{
	display: inline-block;
}

/* Сетка основного контента барбершопа */

.main-container {
	height: 900px;
}

.main-center-container {
	height: 790px;	
	width: 940px;
	box-sizing: border-box;
	margin-top: 55px;
	margin-right: auto;
	margin-left: auto;
	background-color: red;
}

.items {
	height: 670px;
	width: 460px;
	float: left;
	background-color: green;	
	margin-top: 53px;	
}

.item-block-2 {
	height: 140px;
	padding-top: 16px;
	box-sizing: border-box;
}

.item-block-2 img {
	margin-right: 17px;
	height: 149px;
}

.item-block-2 img:last-child {
	margin-right: 0px;
}

.text-content {
	height: 510px;
	width: 390px;
	float: right;
	background-color: green;
	margin-top: 140px;
}


/* Cетка футера барбершопа */

.main-footer-2 {
	height: 189px;
	background-color: #000;
	box-sizing: border-box;
	margin-top: 65px;
  	padding-top: 60px;
  	padding-bottom: 40px;
}

.footer-contacts {
	background-color: red;
}

.footer-social {
	background-color: red;
}

.footer-copyright {
	background-color: red;
}





/* Cетка каталога барбершопа */

.main-content{
	height: 915px;
}

.left-side-bar {
	height: 575px;
	width: 220px;
	float: left;
	margin-top: 60px;
	background-color: red;
}


.manufacturers,
.product-group {
	height: 260px;
	width: 174px;
	background-color: green;
}

 
.products {
	height: 600px;
	width: 700px;
	float: left;
	margin-left: 20px;
	margin-top: 60px;
	background-color: red;
	box-sizing: border-box;
	font-size: 0px;
	
}

 .product {
	height: 290px;
	width: 220px;
	display: inline-block;
	vertical-align: top;
	background-color: green;
	margin-bottom: 20px;
	margin-left: 20px;
	font-size: 14px;
}

.out-margin {
	margin-left: 0px;
}


.container-2-footer {
	height: 45px;
	width: 195px;
	margin-left: 250px;	
	clear: both;
	background-color: blue;
}